:root{
  --primary:#2F3E4E;
  --gray:#999;
  --sky:#DBECFF;
  --primary-light:#58687A;
}

.wrapper{
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.video-wrap{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/img/bg-light.jpg);
}
.video-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: screen;
}
.inner{
  margin: auto;
  z-index: 2;
}

/* search */
.search{
  background-color: rgba(255,255,255,0.5);
  border-radius: 1rem;
  padding: 0 5rem;
  height: 6rem;
}
.search i{
  font-size: 2.5rem;
}
.search-left{
  flex: 2;
  display: flex;
  justify-content: space-between;
}
.search input{
  font-size: 2.5rem;
  width: 100%;
  margin-left: 2.5rem;
  color: var(--primary);
}
.search input::placeholder{color: var(--primary); opacity: .5;}
.search input:focus::placeholder{opacity: 0;}

.content-top{
  margin-top: 5rem;
}
.box{
  background-color: rgba(255,255,255,.7);
  padding: 3rem;
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
}
.top{
  /* display: flex;
  align-items: end; */
}
.button{
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border: 0.1rem solid var(--primary);
  border-radius: 10rem;
  cursor: pointer;
  transition: 0.2s ease;
}

/* today */
.today-time{
  margin-right: 5rem;
}
.date{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.time{
  font-family: 'GMarketSans';
  font-size: 15rem;
  font-weight: 700;
}

/* today-weather */
.today-weather .weather{
  display: flex;
  align-items: center;
  .icon{
    width: 8rem;
    height: 8rem;
    background-color: var(--sky);
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
  .weather-text{
    font-size: 3rem;
    font-weight: 600;
    margin-left: 0.5rem;
  }
}
.today-weather .info{
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-left: 0.5rem;
  margin-top: 2rem;
  .temp{
    font-family: 'GMarketSans';
    font-weight: 700;
    font-size: 5rem;
  }
  .city{
    font-size: 2.5rem;
    margin: 0 0 0.2rem 0.5rem;
  }
}
.noti{
  display: none;
  font-size: 1.5rem;
  line-height: 1.5;
}

.box-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{
    font-family: 'GMarketSans';
    font-size: 2.5rem;
    font-weight: 700;
  }
  i{
    font-size: 2rem;
    color: #CE7617;
  }
}
/* bookmark */
.bookmark{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.bookmark-list-wrap{
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.bookmark-list{
  display: flex;
}
.bookmark-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  &:first-child{padding-left: 0;}
}
.url-icon{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: var(--sky);
  display: flex;
  justify-content: center;
  align-items: center;
  img{width: 40%; height: 40%; object-fit: cover; border-radius: 50%;}
}
.name{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 1rem;
}
.del-btn{
  font-size: 1.4rem;
  color: var(--gray);
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
}
.del-btn:hover{
  background-color: var(--gray);
  color: #fff;
}
.bookmark-add-btn{
  padding: 1rem 2rem;
  .name{margin-bottom: 4rem;}
  i{font-size: 2rem;}
}
/* bookmark add modal */
.bookmark-item-input-form{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30%;
  padding: 3rem 2rem;
  background-color: rgba(219, 236, 255,.8);
  backdrop-filter: blur(5px);
  border-radius: 2rem;
  z-index: 5;
}
.bookmark-input{
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  h3{
    font-family: 'GMarketSans';
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  input{
    width: 100%;
    background-color: rgba(255,255,255,.5);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 0.2rem solid var(--primary-light);
    font-size: 1.6rem;
  }
  .new-bookmark-name{
    margin-bottom: 2.5rem;
  }
}
.bookmark-item-input-btn{
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 1.5rem;
  margin-top: 2rem;
  .add-btn{background-color: var(--primary); color: #fff;}
}
.bookmark-add-open{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 3;
}

/* todolist */
.content-right{
  width: 100%;
}
.todolist{
  height: 51.8rem;
}
.todo-form{
  border-radius: 1rem;
  background-color: rgba(255,255,255,.5);
  box-shadow: 0 0.4rem 1.5rem rgba(0,0,0,0.1);
  margin-top: 2rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  input{
    padding: 1.5rem 0;
    font-size: 1.8rem;
    width: 90%;
  }
  button{
    width: 10%;
    font-size: 1.8rem;
  }
}
.todo-length{
  margin-top: 2rem;
  span{
    font-size: 1.4rem;
    span{font-weight: 800; color: #CE1717;}
  }
}

ul{
  margin: 2rem 1rem;
}
li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted lightgray;
  margin-bottom: 0.7rem;
  padding: 0 1rem 0.7rem 1rem;
  font-size: 1.6rem;
  >i{padding-left: 1rem;}
  span:last-of-type{margin-left: 1rem;}
  .check{cursor: pointer;}
}
#todo-footer{
  display: flex;
  justify-content: flex-end;
}
.clear-all{
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  background-color: var(--primary-light);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.clear-all:hover{background-color: var(--primary);}


.content-bottom{
  margin-top: 3rem;
  /* display: flex;
  justify-content: space-between; */
}
.memo, .paint{
  width: 100%;
  height: 25rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  .box-title{
    margin-right: 2rem;
    i{margin-left: 1rem;}
  }
}
.memo textarea{
  width: 100%;
  height: 100%;
  background-color: var(--sky);
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.4rem;
  color: var(--primary);
}
/* .paint{margin-left: 3rem;} */
.paint-left{
  flex-shrink: 0;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  button{
    width: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    border: 0.1rem solid var(--primary);
    border-radius: 10rem;
  }
  .paint-save{
    background-color: var(--primary-light);
    color: #fff;
    margin-right: 0.5rem;
    transition: 0.3s;
    &:hover{background-color: var(--primary);}
  }
}
.paint .canvas{
  width: 100%;
  height: 100%;
  position: relative;
}

.paint .canvas canvas{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sky);
  border-radius: 1rem;
}


body.dark .video-wrap{background-image: url(/img/bg-dark.jpg);}
body.dark .search{
  background-color: rgba(47,62,78,.7);
  color: var(--sky);
  input{
    color: var(--sky);
    &::placeholder{color: var(--sky); opacity: .5;}
  }
}
body.dark .today-time{color: #fff;}
body.dark .box{
  background-color: rgba(47,62,78,.7);
  color: #fff;
  .box-title i{color: #ffde3a;}
}
body.dark .today-weather .weather .icon{background-color: var(--primary-light);}
body.dark .del-btn{color: rgba(255,255,255,.7);}
body.dark .del-btn:hover{background-color: rgba(0,0,0,.3);}
body.dark .bookmark-add-btn i{color: var(--primary);}
body.dark .todo-form{background-color: var(--sky);}
body.dark .todo-length span span{color: #ffc5c5;}
body.dark .clear-all{
  border: 0.1rem solid #fff;
  background-color: transparent;
  color: #fff;
}
body.dark .paint-save{
  color: var(--primary);
  background-color: #fff;
  border-color: #fff;
}
body.dark .paint-save:hover{
  background-color: #fff;
}
body.dark .clear-all:hover{background-color: #fff; color: var(--primary);}
body.dark .paint-left .paint-clear{color: #fff; border-color: #fff;}
body.dark .paint .canvas canvas{background-color: var(--sky);}