@charset "utf-8"; 

/* Icon Font CDN */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
html{
  overflow-x: hidden;
  font-size: 62.5%;
}
body{
  font-family: "NanumSquareAc", sans-serif;
  color: #2F3E4E;
  line-height: 1;
}
li{list-style-type: none;}  
a{
  text-decoration: none;  
  color: inherit;   
}
h1, h2, h3, h4, h5, h6, ul, li, p{
  margin: 0;
	padding: 0;
	font-size: 100%;
  font-weight: normal;
}
article,aside,details,summary,figcaption,figure,
footer,header,hgroup,main,nav,section{ 
	display:block;  
}
input,button,select,textarea{outline: none; background: none; border: none;}
button{cursor: pointer;}
p{word-break: keep-all;}

